<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="Asistencia">
      <ion-label>Asistencia</ion-label>
      <ion-icon name="medkit"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="Primera_respuesta">
      <ion-label>Primera respuesta</ion-label>
      <ion-icon name="megaphone"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="Notificaciones">
      <ion-label>Notificaciones</ion-label>
      <ion-icon name="notifications"></ion-icon>
      <ion-badge>6</ion-badge>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>