.error-message
{
  color: red;
  font-size: 14px;
  margin-left: 10px;
  margin-top: 10px;
}
ion-input{
  // --background:white;
  // padding: 5px !important;
  // margin-top: 10px !important;
  padding-left: 5px !important;
  border: 2px solid #f04141 !important;
  border-radius: 10px 10px 10px 10px;
           }